footer
    padding: 30px 0
    display: flex
    align-items: center
    justify-content: center
    .copyright
            h1
                margin-top: 10px
                font-size: 17px
                color: #5e636b
    ul
        display: flex
        justify-content: center
        li
            .icon
                border-radius: 50%
                background-color: #212629
                margin: 0 10px
                padding: 14px
                color: #ffff
                font-size: 15px
                transition: 0.1s
                &:hover
                    opacity: 0.8
                    cursor: pointer
            .facebook
                padding: 14px 16px
    nav  
        margin: 10px 0
        a
            padding: 14px
            font-size: 17px
            color: #5e636b
            &:hover
                color: #5e636b
                cursor: pointer