header
    padding: 25px 0
    background-color: #212629
    position: fixed  
    width: 100%
    z-index: 1
    .menu
        display: flex
        justify-content: space-between
        .imgbox
            width: 150px
        nav  
            a
                padding: 14px
                font-size: 18px
                color: #ffff
                margin-right: 10px
                &:hover
                    color: #ffc900
                    cursor: pointer
        .btn
            border: 1px solid #8b8d8f
            display: none
            font-size: 14px
            font-weight: 700
            color: #8b8d8f
    @media ( max-width: 992px )
        .menu       
            .btn
                display: block             
            nav
                display: none